/* Custom Style Sheet */
body {
    background-image: url("../Images/Background.png");
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    font-family: 'Jost', sans-serif;
    overflow: auto;
}

h1, h2, h3, h4, h5 {
    font-family: 'Kirang Haerang', sans-serif;
    color: peachpuff;
}

.navbar {
    padding: .25rem .5rem;
    height: 60px;
}

.navbar-brand {
    font-family: 'Kirang Haerang', sans-serif;
    font-size: 30px;
}

/* image on About page */
.about-img {
    border-radius: 100%;
}

/* footer styling */
footer {
    background-color: lightgray;
}

/* fontawesome icon styling */
footer i {
    color: white;
    margin: 0 8px;
    display: block;
    
}

/* footer icons on all pages */
footer i:hover, 
footer i:focus {
    color: peachpuff;
}

/* button styling */
.btn {
    background-color: peachpuff;
    color: white;
} .btn:hover {
    border: 1px solid peachpuff;
    color: peachpuff;
    background-color: white;
}

/* styles links */
a {
    color: black;
} a:hover {
    color: peru;
    text-decoration: none;
}

/* styles icons on contact page*/
.contact-icons {
    margin: 2px;
    padding: 5px;
}
